*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border-right: 6px blue solid;
    border-top: 6px blue solid;
    border-bottom: 6px blue solid;
}

.img-fluid {
    border-radius: 50%;
}

.hr { 
    border-top: 10px blue solid;
}

#tituloPrincipal {
    text-decoration: none;
}

.separacion {
    margin-left: 40px;
    margin-right: 20px;
}

.nombre {
    color: blue;
    font-size: 75px;
}
.subtitulo{
    font-size: 45px;
    color: blue;
    text-decoration: underline;
}

.subtitulo2 {
    font-size: 35px;
    color: blue;
    text-decoration: underline;
}

.colorLetra {
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

p, a, li {
    color: blue;
}

